body * {
   margin: 0;
   padding: 0;
   font-family: 'Lobster', cursive;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: rgb(131, 0, 148);
   background: linear-gradient(144deg, rgba(131, 0, 148, 1) 8%, rgba(9, 138, 240, 1) 53%, rgba(34, 20, 84, 1) 82%);
   font-size: 18px;
}

.calculator {
   position: relative;
   display: grid;
   background-color: #000;
   box-shadow: 0px 0px 63px 0px rgba(0, 0, 0, 0.75);
   -webkit-box-shadow: 0px 0px 63px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 0px 63px 0px rgba(0, 0, 0, 0.75);
   font-size: 20px;
   border-radius: 10px;
   gap: 10px;
   padding: 10px;
}

.calculator>.value {
   grid-column: span 4;
   height: 100px;
   text-align: right;
   letter-spacing: 3px;
   font-size: 20px;
   background-color: #000;
   color: #fff;
   margin-bottom: 3px;
   border-radius: 10px;
}

.calculator>span {
   align-content: center;
   display: grid;
   width: 60px;
   height: 60px;
   text-align: center;
   color: #C4F8FF;
   border-radius: 50%;
}

.calculator .digit {
   background-color: #1b2f38;
   color: #fff;
}

.calculator .sign {
   background-color: #2e1f39;
   color: #90068e;
}

.calculator span.clear {
   background-color: #2d191e;
   color: #a32e37;
}

.calculator span.clear:hover {
   background-color: #9c6e79;
}


.calculator span.equal {
   grid-row: span 2;
   height: 123px;
   background-color: #223323;
   color: #000;
   border-radius: 25px;
}

.calculator span.equal:hover {
   background-color: #618963;
}

.calculator span:active {
   background-color: #D2F4FF;
   color: #111;
}

.digit:hover {
   background-color: #5f757f;

}

.sign:hover {
   background-color: #675871;

}